.container {
	position: relative;
	z-index: 2;
	width: 100% !important;
	max-width: 100% !important;
}

.unit_header_slider .slider_img{
	width:100%;
	height:200px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.wrapper{
	width:100%;
	margin:0 auto;
	max-width: 970px;
}

.unit_title_box{
	padding-left: 30px;
	position:relative;
}

.unit_title{
	margin-bottom: 0px;
}

.unit_address{
	margin-top:5px;
}

.check_in_out_box{
	position: absolute;
	text-align: right;
	right:0;
	top:0;
}

.slider_control{
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 300;
}

.col-md-12{
	padding:0 !important;
}

#slider-next{
  right: 30px;
  position: absolute;
}

#slider-prev{
  left: 30px;
  position: absolute;
}

.slider_control a{
  color:white;
  font-size:36px;
  text-decoration: none;
}

.slider_control a:hover,
.slider_control a:focus{
  color:white;
  font-size:36px;
  text-decoration: none;
}

.unit_attribute_item_img{
  display:inline-block;
}

.unit_attribute_item{
  display:inline-block;
  margin-left:20px;
  text-align: center;
}

.unit_attribute_item img{
  width:75%;
  height:75%;
}

.unit_attribute_item_title{
  text-align: center;
  height:30px;
  font-size: 10px;
}

.unit_indent_bullet{
  width:32px;
  height:32px;
}

.unit_description_description{
  color:black;
  font-size:14px;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: white;
  border: 0;
  font-family: Tahoma;
}

.unit_map{
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
  height:200px;
}

.gallery{
  display:none;
}

.unit_availability p{
	font-size: 16px;
	color:black;
	max-width: 720px;
}

.book_btn{
	color: #fff;
	background-color: black;
	border-color: black;
	cursor:pointer;
	float:right;
}